## 2010-2019 kospi200 편입여부 확인

In [755]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [672]:
def length_adjust(str_) : 
    return (2-len(str_)) * '0' + str_

def date_convertor(date) : 
    year = length_adjust(str(date.year))
    month = length_adjust(str(date.month))
    day = length_adjust(str(date.day))
    yyyymmdd = int(year+month+day)
    return yyyymmdd

In [774]:
df = pd.read_csv('./data/kospi/raw/kospi200_편입여부.csv',low_memory=False)
df_ = df.copy()
df

,Symbol,A000010,A000011,A000012,A000020,A000021,A000022,A000023,A000030,A000031,...,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170,A950180
0,Symbol Name,조흥은행,조흥은행(1신),조흥은행(2신),동화약품,동화약품공업(1신),동화약품(전환1신),동화약품(전환2신),우리은행,한빛은행(1신),...,평산차업 KDR,네프로아이티,중국고섬,SBI모기지,SBI핀테크솔루션즈,엑세스바이오,잉글우드랩,코오롱티슈진,JTC,SNK
1,2010-01-01,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-02,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-03,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-04,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2019-12-27,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3649,2019-12-28,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3650,2019-12-29,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3651,2019-12-30,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3652,2019-12-31,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N

In [780]:
np.where(df.iloc[0,:] == '기아자동차')

(array([], dtype=int64),)

생존편향을 해결하기 위해서 우리는 kosi200에 한번이라도 진입을 한 기업의 리스트가 필요하다.

위에서 가져온 데이터프레임 column 중에서 Y값이 한번이라도 있는 기업만 추출한다.

In [674]:
symbol_ls = [x for x in df.columns] 

crp_ls = []
for i in symbol_ls:
    if df[i].isin(['Y']).any() == True:
        crp_ls.append(i)

df_ = df_.loc[:,['Symbol','A000020', 'A000030', 'A000050', 'A000070', 'A000080', 'A000100', 'A000120', 'A000140', 'A000150', 'A000210', 'A000230', 'A000240', 'A000270', 'A000430', 'A000480', 'A000640', 'A000660', 'A000670', 'A000700', 'A000720', 'A000810', 'A000830', 'A000880', 'A000990', 'A001040', 'A001060', 'A001120', 'A001130', 'A001210', 'A001230', 'A001300', 'A001430', 'A001440', 'A001450', 'A001520', 'A001630', 'A001680', 'A001740', 'A001780', 'A001790', 'A001800', 'A001940', 'A002020', 'A002030', 'A002240', 'A002270', 'A002300', 'A002350', 'A002380', 'A002390', 'A002620', 'A002790', 'A002960', 'A002990', 'A003000', 'A003030', 'A003120', 'A003190', 'A003200', 'A003240', 'A003300', 'A003410', 'A003450', 'A003480', 'A003490', 'A003520', 'A003550', 'A003570', 'A003600', 'A003620', 'A003640', 'A003850', 'A003920', 'A003940', 'A004000', 'A004020', 'A004130', 'A004150', 'A004170', 'A004370', 'A004430', 'A004490', 'A004700', 'A004710', 'A004800', 'A004890', 'A004940', 'A004990', 'A005090', 'A005180', 'A005250', 'A005270', 'A005280', 'A005300', 'A005380', 'A005440', 'A005490', 'A005500', 'A005610', 'A005680', 'A005690', 'A005740', 'A005830', 'A005850', 'A005930', 'A005940', 'A005950', 'A006120', 'A006260', 'A006280', 'A006360', 'A006380', 'A006390', 'A006400', 'A006650', 'A006800', 'A006840', 'A007070', 'A007210', 'A007310', 'A007340', 'A007570', 'A007690', 'A007810', 'A007860', 'A008000', 'A008040', 'A008060', 'A008320', 'A008490', 'A008560', 'A008730', 'A008770', 'A008930', 'A009150', 'A009200', 'A009240', 'A009290', 'A009420', 'A009440', 'A009540', 'A009580', 'A009680', 'A009720', 'A009830', 'A010060', 'A010120', 'A010130', 'A010140', 'A010520', 'A010620', 'A010690', 'A010780', 'A010950', 'A011070', 'A011170', 'A011200', 'A011210', 'A011400', 'A011780', 'A011790', 'A011810', 'A011930', 'A012330', 'A012450', 'A012630', 'A012750', 'A013570', 'A014680', 'A014820', 'A014830', 'A014990', 'A015590', 'A015760', 'A016360', 'A016380', 'A016800', 'A017670', 'A017800', 'A017900', 'A017960', 'A018250', 'A018260', 'A018880', 'A019680', 'A020000', 'A020150', 'A020760', 'A021240', 'A023530', 'A024110', 'A025000', 'A025540', 'A025850', 'A025860', 'A026960', 'A027410', 'A027970', 'A028050', 'A028260', 'A028670', 'A029530', 'A029780', 'A030000', 'A030200', 'A031430', 'A032640', 'A032830', 'A033240', 'A033530', 'A033780', 'A033920', 'A034020', 'A034120', 'A034220', 'A034730', 'A035250', 'A035420', 'A035720', 'A036460', 'A036570', 'A036580', 'A037620', 'A042660', 'A042670', 'A042700', 'A044820', 'A047040', 'A047050', 'A047810', 'A049770', 'A051310', 'A051600', 'A051900', 'A051910', 'A052690', 'A053000', 'A055550', 'A057050', 'A060980', 'A064350', 'A064420', 'A064960', 'A066570', 'A067250', 'A068270', 'A068870', 'A069260', 'A069620', 'A069960', 'A071050', 'A071840', 'A071970', 'A073240', 'A077970', 'A078520', 'A078930', 'A079160', 'A079430', 'A079550', 'A079980', 'A081660', 'A082740', 'A084010', 'A084870', 'A085310', 'A086280', 'A086790', 'A088350', 'A090430', 'A091090', 'A093050', 'A093370', 'A096760', 'A096770', 'A097230', 'A097950', 'A100840', 'A103130', 'A103140', 'A103150', 'A103590', 'A104700', 'A105560', 'A105630', 'A108670', 'A111770', 'A114090', 'A115390', 'A120110', 'A128940', 'A138930', 'A139130', 'A139480', 'A145990', 'A161390', 'A161890', 'A170900', 'A185750', 'A192400', 'A192820', 'A204320', 'A207940', 'A214320', 'A241560', 'A251270', 'A267250', 'A271560', 'A282330', 'A285130', 'A294870', 'A298040', 'A316140']]

NaN값과 N값을 False, Y값을 True의 boolean 값으로 나타내었다.

최종적으로 '2010-01-01'부터 daily time series 별로 kospi200에 편입되었던 모든 기업들 314개를 데이터프레임으로 보여준다.

In [675]:
for i in crp_ls:
    df_.loc[:,i] = df_.loc[:,i].apply(lambda x: True if x == 'Y' else False if x == 'N' else x )
df_ = df_.fillna(False)

In [676]:
dts = df.iloc[1:,0] #datetime형식을 통일시켜준다
dates_str = []
for idx,i in enumerate(dts):
    i = df_.iloc[idx+1,0][0:4]+df_.iloc[idx+1,0][5:7]+df_.iloc[idx+1,0][8:10] 
    dates_str.append(i)
    
df_.iloc[1:,0] = dates_str

df_

,Symbol,A000020,A000030,A000050,A000070,A000080,A000100,A000120,A000140,A000150,...,A214320,A241560,A251270,A267250,A271560,A282330,A285130,A294870,A298040,A316140
0,Symbol Name,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
1,20100101,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,20100102,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,20100103,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,20100104,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,20191227,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3649,20191228,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3650,20191229,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3651,20191230,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3652,20191231,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True

In [677]:
df_ = df_.drop(['A000830','A003600'],axis=1) #SK, 삼성물산 겹치는거 제외

## kospi200 기업의 일별 종가 추출

FinanceDataReader 패키지를 이용하여 2010년부터 2019년 말까지 해당 기업의 종가를 가져오는 함수를 구현한다. 개별기업의 주가를 dataframe형식으로 반환하므로 루프문을 통하여 concat해 최종 dataframe을 생성하였다.

In [220]:
import FinanceDataReader as fdr

In [679]:
def get_close_price(code): #개별기업코드 입력시 종가 반환
    
    import FinanceDataReader as fdr
    
    df = fdr.DataReader(code, start = '2010-01-01' , end = '2019-12-31')
    df = df['Close']
    
    return df

In [680]:
def get_return(code): #개별기업코드 입력시 수익률 반환
    
    import FinanceDataReader as fdr
    
    df = fdr.DataReader(code, start = '2010-01-01' , end = '2019-12-31')
    df = df['Change']
    
    return df

In [696]:
symbols = [x for x in df_.iloc[0,:]][1:] #기업명 리스트
t_ls = [x[1:] for x in df_.columns[1:]] #종목코드
symbol_dic = {name:value for name,value in zip(symbols,t_ls)}

In [700]:
close_ls = [close_price(x) for x in t_ls] 
return_ls = [get_return(x) for x in t_ls]

df__price = pd.concat([i for i in close_ls],ignore_index=False, axis =1)
df__price.columns = symbols
# df__price = df__price.fillna(int(0)) #str to int.. NaN값은0으로 변환

df_return = pd.concat([i for i in return_ls],ignore_index=False, axis =1)
df_return.columns = symbols
# df_return = df_return.fillna(int(0)) #str to int.. NaN값은0으로 변환

기업별로 수정주가의 종가를 불러와서 df__price란 이름으로 저장하였다. 

NaN값을 0으로 바꿔주고 문자열로표기된 부분을 모두 바꿔주었다. lv2의 형태를 통일하기 위해 데이터프레임 함수를 따로 만들었고 실행 전에 
기업이름과 종목코드인 symbols와 t_ls를 정의해주자.

In [702]:
dates = df__price.index
dates_ls = list(map(date_convertor,dates)) #datetime string으로 변환
df_price = df__price.copy()

df_price.index = dates_ls
df_return.index = dates_ls

In [705]:
# df_price.to_csv('./data/kospi/preprocessed/df_kospi200_adjusted_price.csv')
# df_return.to_csv('./data/kospi/preprocessed/df_kospi200_price_return.csv')

2010년부터 2019년 말 까지 한번이라도 kospi200에 편입되었던 모든 기업들의 10년동안 수정주가의 종가를 저장하고 수익률을 살펴보았다.

In [713]:
df_price.head()

,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,대림산업,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
20100104,7520,NaN,9921,46517,39950,141333,54500,28850,74680,85300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100105,7500,NaN,9959,46257,40200,142136,54400,28200,74519,84500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100106,7350,NaN,10225,45894,39150,143741,56400,28700,78619,86200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100107,7210,NaN,10187,45167,37600,142536,56600,28550,80790,86000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100108,7240,NaN,10035,45063,36900,141333,57600,29100,86015,86900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [712]:
df_return.head()

,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,대림산업,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
20100104,-0.007916,NaN,0.015559,0.004492,0.003769,-0.011229,-0.038801,-0.001730,-0.026209,0.025240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100105,-0.002660,NaN,0.003830,-0.005589,0.006258,0.005682,-0.001835,-0.022530,-0.002156,-0.009379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100106,-0.020000,NaN,0.026710,-0.007847,-0.026119,0.011292,0.036765,0.017730,0.055020,0.020118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100107,-0.019048,NaN,-0.003716,-0.015841,-0.039591,-0.008383,0.003546,-0.005226,0.027614,-0.002320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100108,0.004161,NaN,-0.014921,-0.002303,-0.018617,-0.008440,0.017668,0.019264,0.064674,0.010465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [714]:
df_return.shape
nan_mean  = np.nanmean(df_return, axis=1) #nan값빼고 market return을 naive하게 계산
demean = df_return.values-nan_mean.reshape(len(nan_mean),1) #market return 제외

df_demean= pd.DataFrame(demean,index=df_return.index, columns = df_return.columns)

In [715]:
df_demean.head()

,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,대림산업,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
20100104,-0.012799,NaN,0.010676,-0.000392,-0.001114,-0.016112,-0.043684,-0.006613,-0.031093,0.020357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100105,0.000307,NaN,0.006797,-0.002622,0.009225,0.008649,0.001132,-0.019563,0.000811,-0.006412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100106,-0.026298,NaN,0.020411,-0.014146,-0.032418,0.004994,0.030466,0.011432,0.048721,0.013820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100107,-0.016531,NaN,-0.001199,-0.013324,-0.037074,-0.005866,0.006063,-0.002709,0.030131,0.000197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20100108,-0.003685,NaN,-0.022767,-0.010149,-0.026463,-0.016286,0.009822,0.011418,0.056828,0.002619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN