## 2010-2019 kospi200 편입여부 확인

In [13]:
import numpy as np
import pandas as pd
import warnings
import re

In [14]:
def length_adjust(str_) : 
    return (2-len(str_)) * '0' + str_

def date_convertor(date) : 
    year = length_adjust(str(date.year))
    month = length_adjust(str(date.month))
    day = length_adjust(str(date.day))
    yyyymmdd = int(year+month+day)
    return yyyymmdd

In [16]:
df = pd.read_csv('./data/kospi/raw/kospi200_편입여부.csv')
df_ = df.copy()
df

,Symbol,A000010,A000011,A000012,A000020,A000021,A000022,A000023,A000030,A000031,...,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170,A950180
0,Symbol Name,조흥은행,조흥은행(1신),조흥은행(2신),동화약품,동화약품공업(1신),동화약품(전환1신),동화약품(전환2신),우리은행,한빛은행(1신),...,평산차업 KDR,네프로아이티,중국고섬,SBI모기지,SBI핀테크솔루션즈,엑세스바이오,잉글우드랩,코오롱티슈진,JTC,SNK
1,2010-01-01,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-02,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-03,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-04,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2019-12-27,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3649,2019-12-28,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3650,2019-12-29,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3651,2019-12-30,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N
3652,2019-12-31,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,N,N,N,N

생존편향을 해결하기 위해서 우리는 kosi200에 한번이라도 진입을 한 기업의 리스트가 필요하다.

위에서 가져온 데이터프레임 column 중에서 Y값이 한번이라도 있는 기업만 추출한다.

In [17]:
symbol_ls = [x for x in df.columns] 

crp_ls = []
for i in symbol_ls:
    if df[i].isin(['Y']).any() == True:
        crp_ls.append(i)

df_ = df_.loc[:,['Symbol','A000020', 'A000030', 'A000050', 'A000070', 'A000080', 'A000100', 'A000120', 'A000140', 'A000150', 'A000210', 'A000230', 'A000240', 'A000270', 'A000430', 'A000480', 'A000640', 'A000660', 'A000670', 'A000700', 'A000720', 'A000810', 'A000830', 'A000880', 'A000990', 'A001040', 'A001060', 'A001120', 'A001130', 'A001210', 'A001230', 'A001300', 'A001430', 'A001440', 'A001450', 'A001520', 'A001630', 'A001680', 'A001740', 'A001780', 'A001790', 'A001800', 'A001940', 'A002020', 'A002030', 'A002240', 'A002270', 'A002300', 'A002350', 'A002380', 'A002390', 'A002620', 'A002790', 'A002960', 'A002990', 'A003000', 'A003030', 'A003120', 'A003190', 'A003200', 'A003240', 'A003300', 'A003410', 'A003450', 'A003480', 'A003490', 'A003520', 'A003550', 'A003570', 'A003600', 'A003620', 'A003640', 'A003850', 'A003920', 'A003940', 'A004000', 'A004020', 'A004130', 'A004150', 'A004170', 'A004370', 'A004430', 'A004490', 'A004700', 'A004710', 'A004800', 'A004890', 'A004940', 'A004990', 'A005090', 'A005180', 'A005250', 'A005270', 'A005280', 'A005300', 'A005380', 'A005440', 'A005490', 'A005500', 'A005610', 'A005680', 'A005690', 'A005740', 'A005830', 'A005850', 'A005930', 'A005940', 'A005950', 'A006120', 'A006260', 'A006280', 'A006360', 'A006380', 'A006390', 'A006400', 'A006650', 'A006800', 'A006840', 'A007070', 'A007210', 'A007310', 'A007340', 'A007570', 'A007690', 'A007810', 'A007860', 'A008000', 'A008040', 'A008060', 'A008320', 'A008490', 'A008560', 'A008730', 'A008770', 'A008930', 'A009150', 'A009200', 'A009240', 'A009290', 'A009420', 'A009440', 'A009540', 'A009580', 'A009680', 'A009720', 'A009830', 'A010060', 'A010120', 'A010130', 'A010140', 'A010520', 'A010620', 'A010690', 'A010780', 'A010950', 'A011070', 'A011170', 'A011200', 'A011210', 'A011400', 'A011780', 'A011790', 'A011810', 'A011930', 'A012330', 'A012450', 'A012630', 'A012750', 'A013570', 'A014680', 'A014820', 'A014830', 'A014990', 'A015590', 'A015760', 'A016360', 'A016380', 'A016800', 'A017670', 'A017800', 'A017900', 'A017960', 'A018250', 'A018260', 'A018880', 'A019680', 'A020000', 'A020150', 'A020760', 'A021240', 'A023530', 'A024110', 'A025000', 'A025540', 'A025850', 'A025860', 'A026960', 'A027410', 'A027970', 'A028050', 'A028260', 'A028670', 'A029530', 'A029780', 'A030000', 'A030200', 'A031430', 'A032640', 'A032830', 'A033240', 'A033530', 'A033780', 'A033920', 'A034020', 'A034120', 'A034220', 'A034730', 'A035250', 'A035420', 'A035720', 'A036460', 'A036570', 'A036580', 'A037620', 'A042660', 'A042670', 'A042700', 'A044820', 'A047040', 'A047050', 'A047810', 'A049770', 'A051310', 'A051600', 'A051900', 'A051910', 'A052690', 'A053000', 'A055550', 'A057050', 'A060980', 'A064350', 'A064420', 'A064960', 'A066570', 'A067250', 'A068270', 'A068870', 'A069260', 'A069620', 'A069960', 'A071050', 'A071840', 'A071970', 'A073240', 'A077970', 'A078520', 'A078930', 'A079160', 'A079430', 'A079550', 'A079980', 'A081660', 'A082740', 'A084010', 'A084870', 'A085310', 'A086280', 'A086790', 'A088350', 'A090430', 'A091090', 'A093050', 'A093370', 'A096760', 'A096770', 'A097230', 'A097950', 'A100840', 'A103130', 'A103140', 'A103150', 'A103590', 'A104700', 'A105560', 'A105630', 'A108670', 'A111770', 'A114090', 'A115390', 'A120110', 'A128940', 'A138930', 'A139130', 'A139480', 'A145990', 'A161390', 'A161890', 'A170900', 'A185750', 'A192400', 'A192820', 'A204320', 'A207940', 'A214320', 'A241560', 'A251270', 'A267250', 'A271560', 'A282330', 'A285130', 'A294870', 'A298040', 'A316140']]

NaN값과 N값을 False, Y값을 True의 boolean 값으로 나타내었다.

최종적으로 '2010-01-01'부터 daily time series 별로 kospi200에 편입되었던 모든 기업들 314개를 데이터프레임으로 보여준다.

In [18]:
for i in crp_ls:
    df_.loc[:,i] = df_.loc[:,i].apply(lambda x: True if x == 'Y' else False if x == 'N' else x )
df_ = df_.fillna(False)

In [19]:
dts = df.iloc[1:,0] #datetime형식을 통일시켜준다
dates_str = []
for idx,i in enumerate(dts):
    i = df_.iloc[idx+1,0][0:4]+df_.iloc[idx+1,0][5:7]+df_.iloc[idx+1,0][8:10] 
    dates_str.append(i)
    
df_.iloc[1:,0] = dates_str

df_

,Symbol,A000020,A000030,A000050,A000070,A000080,A000100,A000120,A000140,A000150,...,A214320,A241560,A251270,A267250,A271560,A282330,A285130,A294870,A298040,A316140
0,Symbol Name,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
1,20100101,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,20100102,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,20100103,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,20100104,True,False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,20191227,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3649,20191228,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3650,20191229,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3651,20191230,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
3652,20191231,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True

## kospi200 기업의 일별 종가 추출

FinanceDataReader 패키지를 이용하여 2010년부터 2019년 말까지 해당 기업의 종가를 가져오는 함수를 구현한다. 개별기업의 주가를 dataframe형식으로 반환하므로 루프문을 통하여 concat해 최종 dataframe을 생성하였다.

In [100]:
def close_price(code): #개별기업코드 입력시 종가 반환
    
    import FinanceDataReader as fdr
    
    df = fdr.DataReader(code, start = '2010-01-01' , end = '2019-12-31')
    df = df['Close']
    
    return df

In [21]:
symbols = [x for x in df_.iloc[0,:]] #기업명 리스트
t_ls = [x[1:] for x in crp_ls] #종목코드

In [30]:
symbol_dic = {name:value for name,value in zip(symbols[1:],t_ls)}
symbol_dic

{'동화약품': '000020',
 '우리은행': '000030',
 '경방': '000050',
 '삼양홀딩스': '000070',
 '하이트진로': '000080',
 '유한양행': '000100',
 'CJ대한통운': '000120',
 '하이트진로홀딩스': '000140',
 '두산': '000150',
 '대림산업': '000210',
 '일동홀딩스': '000230',
 '한국테크놀로지그룹': '000240',
 '기아차': '000270',
 '대원강업': '000430',
 '조선내화': '000480',
 '동아쏘시오홀딩스': '000640',
 'SK하이닉스': '000660',
 '영풍': '000670',
 '유수홀딩스': '000700',
 '현대건설': '000720',
 '삼성화재': '000810',
 '삼성물산': '028260',
 '한화': '000880',
 'DB하이텍': '000990',
 'CJ': '001040',
 'JW중외제약': '001060',
 'LG상사': '001120',
 '대한제분': '001130',
 '금호전기': '001210',
 '동국제강': '001230',
 '제일모직': '001300',
 '세아베스틸': '001430',
 '대한전선': '001440',
 '현대해상': '001450',
 '동양': '001520',
 '종근당홀딩스': '001630',
 '대상': '001680',
 'SK네트웍스': '001740',
 '알루코': '001780',
 '대한제당': '001790',
 '오리온홀딩스': '001800',
 'KISCO홀딩스': '001940',
 '코오롱': '002020',
 '아세아': '002030',
 '고려제강': '002240',
 '롯데푸드': '002270',
 '한국제지': '002300',
 '넥센타이어': '002350',
 'KCC': '002380',
 '한독': '002390',
 '제일파마홀딩스': '002620',
 '아모레G': '002790',
 '한국쉘석유': '002960',
 '금호산업': '002990',
 '부광약품': '003000',
 '세아제강지주': '003030',
 '일성신약': '003120',
 '알앤엘바이오': '003190',
 '일신방직': '003200',
 '태광산업': '003240',
 '한일홀딩스': '003300',
 '쌍용양회': '003410',
 '현대증권': '003450',
 '한진중공업홀딩스': '003480',
 '대한항공': '003490',
 '영진약품': '003520',
 'LG': '003550',
 'S&T중공업': '003570',
 'SK': '034730',
 '쌍용차': '003620',
 '유니온스틸': '003640',
 '보령제약': '003850',
 '남양유업': '003920',
 '삼양제넥스': '003940',
 '롯데정밀화학': '004000',
 '현대제철': '004020',
 '대덕GDS': '004130',
 '한솔홀딩스': '004150',
 '신세계': '004170',
 '농심': '004370',
 '송원산업': '004430',
 '세방전지': '004490',
 '조광피혁': '004700',
 '한솔테크닉스': '004710',
 '효성': '004800',
 '동일산업': '004890',
 '외환은행': '004940',
 '롯데지주': '004990',
 '삼광글라스': '005090',
 '빙그레': '005180',
 '녹십자홀딩스': '005250',
 '대구은행': '005270',
 '부산은행': '005280',
 '롯데칠성': '005300',
 '현대차': '005380',
 '현대그린푸드': '005440',
 'POSCO': '005490',
 '삼진제약': '005500',
 'SPC삼립': '005610',
 '삼영전자': '005680',
 '파미셀': '005690',
 '크라운해태홀딩스': '005740',
 'DB손해보험': '005830',
 '에스엘': '005850',
 '삼성전자': '005930',
 'NH투자증권': '005940',
 '이수화학': '005950',
 'SK디스커버리': '006120',
 'LS': '006260',
 '녹십자': '006280',
 'GS건설': '006360',
 '카프로': '006380',
 '한일현대시멘트': '006390',
 '삼성SDI': '006400',
 '대한유화': '006650',
 '미래에셋대우': '006800',
 'AK홀딩스': '006840',
 'GS리테일': '007070',
 '벽산': '007210',
 '오뚜기': '007310',
 '디티알오토모티브': '007340',
 '일양약품': '007570',
 '국도화학': '007690',
 '코리아써키트': '007810',
 '서연': '007860',
 '도레이케미칼': '008000',
 '사조동아원': '008040',
 '대덕전자': '008060',
 '한국기술산업': '008320',
 '서흥': '008490',
 '메리츠종금증권': '008560',
 '율촌화학': '008730',
 '호텔신라': '008770',
 '한미사이언스': '008930',
 '삼성전기': '009150',
 '무림페이퍼': '009200',
 '한샘': '009240',
 '광동제약': '009290',
 '한올바이오파마': '009420',
 'KC그린홀딩스': '009440',
 '한국조선해양': '009540',
 '무림P&P': '009580',
 '모토닉': '009680',
 '전기초자': '009720',
 '한화솔루션': '009830',
 'OCI': '010060',
 'LS산전': '010120',
 '고려아연': '010130',
 '삼성중공업': '010140',
 '현대하이스코': '010520',
 '현대미포조선': '010620',
 '화신': '010690',
 '아이에스동서': '010780',
 'S-Oil': '010950',
 'LG이노텍': '011070',
 '롯데케미칼': '011170',
 '현대상선': '011200',
 '현대위아': '011210',
 '케이씨오에너지': '011400',
 '금호석유': '011780',
 'SKC': '011790',
 'STX': '011810',
 '신성이엔지': '011930',
 '현대모비스': '012330',
 '한화에어로스페이스': '012450',
 'HDC': '012630',
 '에스원': '012750',
 '디와이': '013570',
 '한솔케미칼': '014680',
 '동원시스템즈': '014820',
 '유니드': '014830',
 '인디에프': '014990',
 '큐로': '015590',
 '한국전력': '015760',
 '삼성증권': '016360',
 '동부제철': '016380',
 '퍼시스': '016800',
 'SK텔레콤': '017670',
 '현대엘리베이': '017800',
 '광전자': '017900',
 '한국카본': '017960',
 '애경산업': '018250',
 '삼성에스디에스': '018260',
 '한온시스템': '018880',
 '대교': '019680',
 '한섬': '020000',
 '일진머티리얼즈': '020150',
 '일진디스플': '020760',
 '코웨이': '021240',
 '롯데쇼핑': '023530',
 '기업은행': '024110',
 'KPX케미칼': '025000',
 '한국단자': '025540',
 '한화화인케미칼': '025850',
 '남해화학': '025860',
 '동서': '026960',
 'BGF': '027410',
 '세하': '027970',
 '삼성엔지니어링': '028050',
 '팬오션': '028670',
 '신도리코': '029530',
 '삼성카드': '029780',
 '제일기획': '030000',
 'KT': '030200',
 '신세계인터내셔날': '031430',
 'LG유플러스': '032640',
 '삼성생명': '032830',
 '자화전자': '033240',
 '세종공업': '033530',
 'KT&G': '033780',
 '무학': '033920',
 '두산중공업': '034020',
 'SBS': '034120',
 'LG디스플레이': '034220',
 '강원랜드': '035250',
 'NAVER': '035420',
 '카카오': '035720',
 '한국가스공사': '036460',
 '엔씨소프트': '036570',
 '팜스코': '036580',
 '미래에셋증권': '037620',
 '대우조선해양': '042660',
 '두산인프라코어': '042670',
 '한미반도체': '042700',
 '코스맥스비티아이': '044820',
 '대우건설': '047040',
 '포스코인터내셔널': '047050',
 '한국항공우주': '047810',
 '동원F&B': '049770',
 '포스코플랜텍': '051310',
 '한전KPS': '051600',
 'LG생활건강': '051900',
 'LG화학': '051910',
 '한전기술': '052690',
 '우리금융': '053000',
 '신한지주': '055550',
 '현대홈쇼핑': '057050',
 '한라홀딩스': '060980',
 '현대로템': '064350',
 '케이피케미칼': '064420',
 'S&T모티브': '064960',
 'LG전자': '066570',
 'STX조선해양': '067250',
 '셀트리온': '068270',
 'LG생명과학': '068870',
 '휴켐스': '069260',
 '대웅제약': '069620',
 '현대백화점': '069960',
 '한국금융지주': '071050',
 '롯데하이마트': '071840',
 'STX중공업': '071970',
 '금호타이어': '073240',
 'STX엔진': '077970',
 '에이블씨엔씨': '078520',
 'GS': '078930',
 'CJ CGV': '079160',
 '현대리바트': '079430',
 'LIG넥스원': '079550',
 '휴비스': '079980',
 '휠라홀딩스': '081660',
 'HSD엔진': '082740',
 '대한제강': '084010',
 'TBH글로벌': '084870',
 '엔케이': '085310',
 '현대글로비스': '086280',
 '하나금융지주': '086790',
 '한화생명': '088350',
 '아모레퍼시픽': '090430',
 '세원셀론텍': '091090',
 'LF': '093050',
 '후성': '093370',
 'JW홀딩스': '096760',
 'SK이노베이션': '096770',
 '한진중공업': '097230',
 'CJ제일제당': '097950',
 'S&TC': '100840',
 '웅진에너지': '103130',
 '풍산': '103140',
 '하이트맥주': '103150',
 '일진전기': '103590',
 '한국철강': '104700',
 'KB금융': '105560',
 '한세실업': '105630',
 'LG하우시스': '108670',
 '영원무역': '111770',
 'GKL': '114090',
 '락앤락': '115390',
 '코오롱인더': '120110',
 '한미약품': '128940',
 'BNK금융지주': '138930',
 'DGB금융지주': '139130',
 '이마트': '139480',
 '삼양사': '145990',
 '한국타이어앤테크놀로지': '161390',
 '한국콜마': '161890',
 '동아에스티': '170900',
 '종근당': '185750',
 '쿠쿠홀딩스': '192400',
 '코스맥스': '192820',
 '만도': '204320',
 '삼성바이오로직스': '207940',
 '이노션': '214320',
 '두산밥캣': '241560',
 '넷마블': '251270',
 '현대중공업지주': '267250',
 '오리온': '271560',
 'BGF리테일': '282330',
 'SK케미칼': '285130',
 'HDC현대산업개발': '294870',
 '효성중공업': '298040',
 '우리금융지주': '316140'}

In [138]:
close_ls = [close_price(x) for x in t_ls] 

df__price = pd.concat([i for i in close_ls],ignore_index=False, axis =1)
df__price.columns = true_ls
df__price = df__price.fillna(int(0)) #str to int.. NaN값은0으로 변환
print(df__price)

기업별로 수정주가의 종가를 불러와서 df__price란 이름으로 저장하였다. 

NaN값을 0으로 바꿔주고 문자열로표기된 부분을 모두 바꿔주었다. lv2의 형태를 통일하기 위해 데이터프레임 함수를 따로 만들었고 실행 전에 
기업이름과 종목코드인 symbols와 t_ls를 정의해주자.

In [143]:
def column_indexing(df):
    
    dates = df.index  
    dates_ls = list(map(date_convertor,dates)) #datetime string으로 변환
    
    indexs = [x for x in dates]
    indexs.insert(0,'Symbol')

    test= df.copy()
    test.insert(0,'Symbol',dates_ls)
    test.reset_index(drop=True)

    test= df.copy()
    test.insert(0,'Symbol',dates)

    crp_ls = [x for x in df.columns]
    crp_ls.insert(0,'Symbol')

    pdd = pd.DataFrame(np.full(shape=(1,len(crp_ls)),fill_value=2),columns=crp_ls)

    df_f = pd.concat([pdd,test],ignore_index=False)

    df_f.iloc[0,:] = symbols
    df_f.iloc[1:,0] = dates_ls
    df_f.columns = crp_ls
    df_f = df_f.reset_index(drop=True)

    return df_f

In [149]:
df_price = column_indexing(df__price)
df_return = column_indexing(df__price.pct_change()*100)

In [151]:
df_price.head(5)

,Symbol,000020,000030,000050,000070,000080,000100,000120,000140,000150,...,214320,241560,251270,267250,271560,282330,285130,294870,298040,316140
0,Symbol Name,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
1,20100104,7520,NaN,9921,46517,39950,141333,54500,28850,74680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20100105,7500,NaN,9959,46257,40200,142136,54400,28200,74519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20100106,7350,NaN,10225,45894,39150,143741,56400,28700,78619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20100107,7210,NaN,10187,45167,37600,142536,56600,28550,80790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2010년부터 2019년 말 까지 한번이라도 kospi200에 편입되었던 모든 기업들의 10년동안 수정주가의 종가를 저장하고 수익률을 살펴보았다.

In [152]:
df_return.head(10)

,Symbol,000020,000030,000050,000070,000080,000100,000120,000140,000150,...,214320,241560,251270,267250,271560,282330,285130,294870,298040,316140
0,Symbol Name,동화약품,우리은행,경방,삼양홀딩스,하이트진로,유한양행,CJ대한통운,하이트진로홀딩스,두산,...,이노션,두산밥캣,넷마블,현대중공업지주,오리온,BGF리테일,SK케미칼,HDC현대산업개발,효성중공업,우리금융지주
1,20100104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20100105,-0.265957,NaN,0.383026,-0.558935,0.625782,0.568162,-0.183486,-2.25303,-0.215587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20100106,-2,NaN,2.67095,-0.784746,-2.61194,1.1292,3.67647,1.77305,5.50195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20100107,-1.90476,NaN,-0.371638,-1.58409,-3.95913,-0.838313,0.35461,-0.522648,2.76142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20100108,0.416089,NaN,-1.4921,-0.230257,-1.8617,-0.843997,1.76678,1.92644,6.46738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,20100111,-1.9337,NaN,-1.5147,0.230788,1.08401,-1.70519,3.125,-1.89003,-1.40208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,20100112,-0.56338,NaN,-0.384499,-0.230257,-0.134048,-2.02342,-1.6835,0.875657,4.74006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,20100113,-3.25779,NaN,-3.47384,-1.26711,1.20805,-1.17991,-2.91096,-1.38889,-2.26277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20100114,0,NaN,-3.59886,-0.815877,0.265252,-0.595512,2.1164,-1.40845,-0.926065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN